@charset "utf-8";
/* Fonts */
@font-face {
    font-family: 'Inter UI';
    font-weight: 100 900;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url("../fonts/inter-ui-upright.var.woff2") format("woff2 supports variations(gvar)"),
        url("../fonts/inter-ui-upright.var.woff2") format("woff2-variations"),
        url("../fonts/inter-ui-upright.var.woff2") format("woff2");
}
@font-face {
    font-family: 'Galderglynn Titling';
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/galderglynn-titling-bold.woff2");
}
/* Global */
html {
    font-size: 20px;
}
body {
    font-family: 'Inter UI', Arial, Helvetica, sans-serif;
    font-weight: 350;
    color: #fff;
    line-height: 2;
    overflow-x: hidden;
}
.noscroll {
    overflow: hidden;
}
main {
    overflow-x: hidden;
}
.listText, p {
    margin: 0 0 36px 0;
    max-width: 30em;
}
.listText:last-child,
p:last-child {
    margin: 0;
}
.section__sideTexts {
    margin-bottom: 36px;
}
.section__sideTexts:last-child {
    margin: 0;
}
.title {
    font-family: 'Galderglynn Titling';
    font-size: 1.2em;
    line-height: 1.1;
    letter-spacing: 2px;
    font-weight: 800;
    margin: 72px 0;
}
.title--big {
    font-size: 1.44em;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 0;
}
.title--veryBig {
    font-size: 14vw;
    margin: 0;
}
.titleAlt {
    margin: 0;
    font-weight: 400;
    font-size: 1.728em;
    line-height: 1.7;
}
.titleAlt::after {
    content: '';
    display: block;
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 72px 0;
}
.section {
    position: relative;
    padding: 72px 36px;
}
.section::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #131313;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
}
.section--white {
    color: #000;
}
.section--white::before {
    background-color: #fff;
}
.link,
.tiny {
    line-height: 1.4;
    text-transform: uppercase;
    font-size: 0.833em;
    letter-spacing: 1px;
}
.link {
    color: #000;
    font-weight: 600;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.link:hover {
    color: #9B9B9B;
}
.link--white {
    color: #ECECEC;
}
.link--framed {
    margin: 72px auto 0 auto;
    padding: 36px;
    background-color: #fff;
    text-align: center;
    display: block;
}
.link--framedAlt {
    background-color: #000;
}
.link--framed:hover {
    background-color: #9B9B9B;
    color: #fff;
}
.tiny {
    margin-top: 18px;
    color: #9B9B9B;
    font-weight: 500;
    display: block;
}
.tiny--bigger {
    font-size: 1em;
}
.tiny--white {
    color: #fff;
}
.listText {
    position: relative;
}
.listText__item::before {
    position: absolute;
    left: -24px;
    content: '\2192\2009';
}
.listText__item--noArrow::before {
    display: none;
}
.listImg {
    margin: 72px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.listImg__item {
    width: calc(50% - 18px);
    margin-bottom: 36px;
}
.listImg__item--large {
    width: 100%;
    margin-bottom: 0;
}
.listImg__picture {
    display: block;
    width: 100%;
}
.slider {
    display: flex;
    margin: 72px 0 36px 0;
    width: calc(100% + 72px);
    position: relative;
    left: -36px;
    overflow-x: scroll;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.slider--js {
    width: calc(100% + 36px);
    overflow-x: visible;
}
.slider__item {
    margin-right: 36px;
}
.slider__item:first-of-type {
    margin-left: 36px;
}
.slider__item:last-of-type {
    border-right: 36px #131313 solid;
}
.slider--framed .slider__item {
    padding: 36px;
    background-color: #252525;
}
.section--white .slider__item:last-of-type {
    border-right: 36px #fff solid;
}
.sliderIndicator {
    margin: auto;
    display: flex;
    width: fit-content;
    margin-bottom: 72px;
}
.sliderIndicator__item {
    height: 18px;
    width: 18px;
    background-color: #9B9B9B;
    margin-right: 36px;
    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.sliderIndicator__item:last-child {
    margin: 0;
}
.sliderIndicator__item--enabled {
    background-color: #000;
}
.sliderIndicator__item--onBlack {
    background-color: #252525;
}
.sliderIndicator__item--onBlackEnabled {
    background-color: #fff;
}
.sliderIndicator__button {
    text-indent: 9999px;
    white-space: nowrap;
    outline: none;
    padding: 0;
    background-color: transparent;
    border: 0;
}
/* Navigation */
.burger {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 36px;
    margin-right: 36px;
    color: #A7A7A7;
    z-index: 99;
    padding: 0;
    outline: none;
    border: 0;
    background-color: transparent;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 23px;
    overflow: hidden;
}
.burger__item {
    transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.burger__item--open {
    transform: translateY(-23px);
}
.menu {
    height: 100vh;
    width: fit-content;
    background-color: #ECECEC;
    position: fixed;
    top: 0;
    right: -279px;
    z-index: 9;
    transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    align-items: center;
}
.menu--open {
    transform: translateX(-100%);
}
.menu__container {
    margin-top: 59px;
    display: flex;
    flex-direction: column;
    padding: 36px;
    margin: auto;
}
.menu__item {
    width: fit-content;
    line-height: 1;
    color: #000;
    margin-top: 0;
    margin-bottom: 54px;
}
.menu__item:last-child {
    margin-bottom: 0;
}
/* Landing */
.landing {
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 108px);
}
/* Démarche */
.imageWide {
    display: block;
    width: 100%;
    margin: 72px 0;
}
/* Le problème */
.imgBlock__picture {
    width: calc(100vw - 72px);
}
.imgBlock__caption {
    font-size: 0.833em;
    text-align: center;
    max-width: 18rem;
    margin: auto;
}
/* Comparatif */
.table__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 72px;
    width: calc(100vw - 144px);
}
.table__header::after {
    content: '';
    margin-top: 72px;
    display: block;
    width: 100%;
    height: 2px;
    top: 0;
    position: absolute;
    background-color: #9B9B9B;
}
.table__image {
    width: 36px;
    height: 36px;
}
.table .tiny {
    margin-top: 0;
}
.table > .tiny {
    margin-bottom: 18px;
}
.table > .tiny:last-of-type {
    margin-top: 18px;
}
/* Groupe */
.group .link--framed {
    margin-top: 36px;
}
.groupList__picture {
    margin: auto;
    display: block;
    width: calc(100vw - 144px);
    margin-bottom: 36px;
}
.group .tiny {
    text-align: center;
}
.group .link--framedAlt {
    cursor: not-allowed;
}
.group .link--framedAlt:hover {
    color: #fff;
    background-color: #000;
}
.group .sliderIndicator {
    margin-bottom: 0;
}
/* Footer */
.footerList .tiny:first-child {
    margin-top: 0;
}
.footerList .link {
    font-size: inherit;
}
@media (min-width: 600px){
    .title {
        font-size: 1.44em;
        margin: 108px 0;
    }
    .title--big {
        font-size: 1.728em;
        margin: 0 0 108px 0;
    }
    .title--veryBig {
        font-size: 12vw;
        margin: 0;
    }
    .titleAlt {
        font-size: 2.488em;
    }
    .section {
        padding: 108px;
    }
    .link--framed {
        padding: 36px;
        margin-top: 108px;
        width: calc(70% - 72px);
    }
    .listImg {
        margin: 108px 0;
    }
    .listImg__item {
        width: calc(25% - 18px);
    }
    .listImg__item:nth-last-child(-n+4) {
        margin-bottom: 0;
    }
    .imageWide {
        margin-top: 108px 0;
    }
    .slider {
        left: -108px;
        margin-top: 108px;
        width: calc(100% + 216px);
    }
    .slider--js {
        width: calc(100% + 108px);
    }
    .slider__item:first-of-type {
        margin-left: 108px;
    }
    .slider__item {
        margin-right: 108px;
    }
    .slider__item:last-child {
        border-right: 108px #131313 solid;
    }
    .section--white .slider__item:last-of-type {
        border-right: 108px #fff solid;
    }
    .sliderIndicator {
        margin-bottom: 108px;
    }
    /* Navigation */
    .menu {
        width: 500px;
        right: -500px;
    }
    .menu__container {
        margin: auto;
    }
    /* landing */
    .landing {
        height: calc(100vh - 216px);
    }
    /* Notre choix */
    .choices .listImg__item:last-child {
        margin-left: 0;
        width: 100%;
    }
    /* Démarche */
    .imgBlock__picture {
        width: calc(100vw - 216px);
    }
    .imgBlock__caption {
        max-width: unset;
    }
    /* Comparatif */
    .table__header {
        width: calc(100vw - 288px);
    }
    /* Groupe */
    .groupList__picture {
        width: calc(100vw - 288px);
    }
    .group .link--framed {
        width: calc(100% - 72px);
    } 
}
@media (min-width: 960px) {
    /* Global */
    .section__sideTexts .listText:first-child,
    .section__sideTexts p:first-child {
        margin-bottom: 0;
        margin-right: 72px;
    }
    .section__sideTexts {
        display: flex;
    }
    .section__sideTexts:last-child {
        margin: 0;
    }
    .section__sideTexts--withImg {
        width: fit-content;
        margin: auto;
    }
    .section__sideTexts .imageWide {
        width: 20%;
        margin: 0 72px 0 0;
    }
    .section__sideTexts--withImg {
        margin-bottom: 144px;
    }
    .title {
        margin: 144px 0;
    }
    .title--big {
        margin: 0 0 144px 0;
    }
    .title--veryBig {
        font-size: 7.43em;
        margin: 0;
    }
    .link--framed {
        margin-top: 144px;
    }
    .section {
        width: 85vw;
        max-width: 1024px;
        margin: auto;
        padding: 144px 36px;
    }
    .section::before {
        width: 300vw;
        left: -100%;
    }
    .section__textCenter {
        margin: auto;
        text-align: center;
    }
    .listImg {
        margin: 144px 0;
    }
    .listImg__item {
        width: calc(20% - 28px);
    }  
    .sliderIndicator__item {
        cursor: pointer;
    }
    .imageWide {
        margin-top: 144px;
    }
    .slider {
        left: 0;
        margin-top: 144px;
        width: 100%;
    }
    .slider--js {
        width: calc(100% + 108px);
    }
    .slider__item:first-of-type {
        margin-left: 0;
    }
    .section--white .slider__item:last-of-type {
        border-right: 0;
    }
    .slider--framed {
        left: 0;
        width: 100%;
        margin-bottom: 144px;
    }
    .slider--framed .slider__item:last-of-type {
        border: 0;
    }
    .slider--framed + .sliderIndicator {
        display: none;
    }
    /* Navigation */
    .burger__item {
        cursor: pointer;
    }
    .menu__item {
        transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .menu__item:hover {
        transform: translateX(15px);
    }
    /* Démarche */
    .imgBlock__picture {
        max-width: 1024px;
    }
    /* Comparatif */
    .compare .slider__item {
        width: 100%;
        margin-left: 0;
        margin-right: 36px;
    }
    .compare .slider__item:last-child {
        margin-right: 0;
    }
    .table__header {
        width: 100%;
    }
    /* Groupe */
    .group .slider {
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .group .slider__item {
        width: calc(50% - 90px);
        margin-right: 0;
    }
    .groupList__picture {
        width: 100%;
    }
    .group .slider__item:nth-child(2) {
        margin-bottom: 36px;
    }
    .group .slider__item:nth-child(3) {
        margin-right: 36px;
    }
    .group .slider__item:first-of-type {
        margin: 0 36px 36px 0;
    }
}